<link rel="stylesheet" href="/css/login.css">

<div class="loginForm">
    {{message}}
    <form action="/login" method="POST">
        <div>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
        </div>

        <div>
            <label class="password" for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>

        <button type="submit" class="loginBtn buttonStyle">Login</button>
    </form>
</div>
