<link rel="stylesheet" href="/css/recipedetail.css">

<div class="recipeDetail">
    <div>
        <h3>Recipe Name: </h3>
    </div>

    <div>
        <h3>Category: </h3>
        <p></p>
    </div>

    <div>
        <h3>Ingredients: </h3>
        <ul>
            <li></li>
        </ul>
    </div>

    <div>
        <h3>Preparation Steps: </h3>
        <ol>
            <li></li>
        </ol>
    </div>

    <div class="recDetailBtns">
        <button class="smallerBtn" type="button">Edit Recipe</button>
        <button class="smallerBtn" type="button">Delete Recipe</button>
        <button class="smallerBtn" type="button">Back to Account</button>
    </div>
</div>