<link rel="stylesheet" href="/css/register.css">

<div class="registerForm">
    <form method="POST" action="/register">
        <div>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
        </div>

        <div>
            <label class="password" for="password"><b>Password</b></label>
            <input type="password" placeholder="Pick a Password" name="password" required>
        </div>

        <button type="submit" class="signupBtn buttonStyle">Sign Up</button>
    </form>
</div>
