html {
    background: #B5D6F2;
}

.addRecBtn {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding-top: 8px;
}

.recipeList {
    background: #7BBCF2;
    margin: 15px 40px;
    border-radius: 6px;
    height: fit-content;
    padding-bottom: 20px;
    border: 4px solid #417DAD;
}

h1 {
    color: #4C331E;
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
}