html {
    background: url(images/cookies.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kalam', cursive;
}

.buttonContainer {
    background: #7BBCF2;
    text-align: center;
    max-width: 500px;
    height: fit-content;
}

.title {
    font-size: 44px;
    font-weight: bold;
    color: #4C331E;
    padding: 30px;
}

.buttonStyle {
    background: #F4B74E;
    font-family: 'Kalam', cursive;
    font-size: 28px;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: #4C331E;
}

.loginBtn {
    box-shadow: 4px 4px #D69B35;
}

.createAcctBtn {
    box-shadow: 4px 4px #D69B35;
}

